<%= javascript_importmap_tags %>

<div class="main-profile d-flex">
  <div class="intro vh-100">

     <%= image_tag 'chess.jpg', style:"
          height: 35vh;
    border-radius: 30px 300px;
    position: relative;
    left: -47px;
  top: 100px;", class:"mb-1 chesspic" %>

    <%= image_tag 'profile.jpg', style:" height: 40vh;
    border-radius: 219px 99px;
    position: relative;
    left: 20x;
    bottom: 41px;
    box-shadow: 10px 20px blueviolet;", class:"profile" %>
    <div class="first-row">

        <div class="first-column">
                      <h1 class="typewriter">Hi, I'm Beatriz.</h1>

            <h2 class="mb-4"><b>Fullstack Web Developer <%= link_to('https://github.com/beaafv.com', target: "_blank") do %>
      <i class="fa-brands fa-github"></i>
    <% end %></b></h2>
          <div class="d-flex buttons">
            <a href="Dutch.pdf" download="Dutch.pdf" class="button1">Download CV</a>
            <%= link_to 'Contact me!', form_path, class:"button12"%>
          </div>
        </div>
</div>

</div>
</div>
<div class="experience d-flex text-center mt-4">
  <div class="row d-flex new" style="flex-direction:column;">
    <h2>FullStack Developer <i class="fa-solid fa-plus" style="color: #ffffff;"></i></h2>
    <p>Le Wagon, batch #1348, Lisbon</p>

    <p>
      <h2>Projects: <p></h2>
      <h2><%= link_to "Fitseek", "https://fitseek.co.uk", target: "_blank", style:" color:white; "  %> Mobile App </h2>
    </p>
    <p> <h2><%= link_to 'Wedding Photography', "https://beaafv.github.io/landingpagefinal", target: "_blank", style:" color:white;" %> WebApp </h2></p>
    </p>
      <p>Prior experience as a nurse</p>
  </div>
  <%= image_tag 'experience.jpg', style:"width:40vw; border-radius:100px 200px" %>
</div>

<div class="fitseek vh-100">
 <div class="container box1 justify-content-center vh-100">
    <h2>
      <%= link_to "Fitseek", "https://fitseek.co.uk",
       target: "_blank", style:" color:white; "
       %> Mobile App
    </h2>
  </div>
</div>
<div class="wedding vh-100">
 <div class="container box1 justify-content-center vh-100">
    <h2>
      <%= link_to 'Wedding Photography', "https://beaafv.github.io/landingpagefinal",
        target: "_blank",
        style:" color:white;"
    %> WebApp
    </h2>
  </div>
</div>
<div class="chefly vh-100">
 <div class="container box1 justify-content-center vh-100">
    <h2>
      <%= link_to 'Chefly', "https://cheflybnb-9551dd5074b5.herokuapp.com/chef_offers/28",
      target: "_blank", style:" color:black;"
      %> WebApp
    </h2>
  </div>
</div>
